# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other Stuff
**/reps/
reps/
**/*.sh
**/*.blend
**/*.blend1
*Makefile*
**/*.qmake.stash

tests/freeglut.dll
tests/glut.dll
tests/glut32.dll
tests/html/
tests/*.png
tests/*.jpg
!tests/test.blend
docs/
reps/
tests/reps/
*.pro
*.user
*.cfg
*.ini
tests/Makefile
tests/textures
*.exe
Tests/test_im*
Tests/test_shadows
Tests/test_teapot
Tests/test_matrix_stack
Tests/test_im
Tests/test_sdf
glImmediateMode.h
obj.h
Sdf/
fbtBlendUpdater/fbtBlendUpdater
fbtBlendUpdater/test.blend
fbtBlendUpdater/Blender.h
fbtBlendUpdater/fbtBlend.h
tests/testConsole
tests/testGlut
test_skeletal_animation/html
test_skeletal_animation/glm
32bit/
test_skeletal_animation/test_skeletal_animation
!test_skeletal_animation/ManuelLab140_Test.blend
!test_skeletal_animation/man4.blend
test_skeletal_animation/Makefile
280/tests/testConsole
280/tests/testGlut
281/tests/testConsole
281/tests/testGlut
test_skeletal_animation/minimath.h
**/issues.txt
**/man_no_texture.blend
test_skeletal_animation_software_skinning/








